{{ define "main" }}
<div class="container mb-4">

  <div class="row mt-5">
    <div class="col"></div> <!-- col-2 -->
    <div class="col-8">
      <article class="article">
	{{ .Content }}
      </article>
    </div>
    <div class="col"></div> <!-- col-2 -->
  </div>

  <div class="row">
    {{ range .Pages }}
    <div class="col-4">

      <div class="title">
	<a href="{{ .Permalink }}">{{ .Title }}</a>
      </div>

      <div class="text-mute small text-right">
        <div class="date">
	  {{ .Date.Format "January 2, 2006" }}
          <br/>
          words {{ .WordCount }}
        </div>
      </div> <!-- col-2 -->

      <div class="description text-mute smaller font-weight-light">
	{{ .Description }}
      </div>

    </div> <!-- col -->
    {{ end }}
  </div> <!-- row -->
</div>
{{ end }}
