{{ define "main" }}
<div class="container">

    <div class="row mt-5">
	<div class="col"></div> <!-- col-2 -->
	<div class="col-lg-8">
	    <article class="article">
		{{ .Content }}
	    </article>
	</div>
	<div class="col"></div> <!-- col-2 -->
    </div>

    {{ if ne .Params.show_articles false }}
    <div class="row mt-5">
      {{ range .Pages.ByWeight }}
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            {{ partial "page-summary.html" (dict "page" . "dateMode" "hide" "termsMode" "show") }}
          </div>
        </div>
      </div> <!-- col -->
      {{ end }}
    </div>
    {{ end }}
</div>
{{ end }}
