{{ define "main" }}
<div class="container">

    <div class="row mt-5">
	<div class="col"></div> <!-- col-2 -->
	<div class="col-8">
	    <article class="article">
		{{ .Content }}
	    </article>
	</div>
	<div class="col"></div> <!-- col-2 -->
    </div>

    <div class="row mt-5">
      {{ range .Pages }}
      <div class="col-6">
        <div class="card mb-4">
          <div class="card-body">
	    <div class="card-title">
	      <a href="{{ .Permalink }}">{{ .Title }}</a>
	    </div>
            <div class="card-text small">
              {{ .Description }}
            </div>
            <hr/>
	    <div class="card-subtitle date small muted">
	      {{ .PublishDate.Format "January 2, 2006" }}
	    </div>
          </div>
        </div>
      </div> <!-- col -->
      {{ end }}
    </div>
</div>
{{ end }}
