{{ define "main" }}
<div class="container-fluid">

    <div class="row text-center">
	<div class="col"></div> <!-- col-2 -->
	<div class="col-8">
	    <article class="article text-big">
		{{ .Content }}
	    </article>
	</div>
	<div class="col"></div> <!-- col-2 -->
    </div>

</div>

<div class="container">

    <div class="row mt-5 pt-5">
	{{ range .Pages }}
	<div class="col-6">
	    <div class="card">
		<div class="card-body">
		    <img class="card-image" src="{{ .Params.image }}" />
		    <h5 class="card-title">
			<a href="{{ .Permalink }}">{{ .Title }}</a>
		    </h5>
		    <div class="card-text">
			{{ .Description }}
		    </div>
		</div>
	    </div>
	</div> <!-- col -->
	{{ end }}
    </div>

</div>
{{ end }}
