{{ define "main" }}

<div class="container">
    
    <div class="row">
	<div class="col"></div>
	<div class="col-8">
	    <h2 class="text-center">{{ .Title }}</h2>
	    <nav class="nav justify-content-center">
		<a class="nav-link" href="{{ .Params.github }}">github</a>
		<a class="nav-link" href="{{ .Params.site }}">site</a>
		<a class="nav-link active" href="/projects">projects</a>
	    </nav>
	</div>
	<div class="col"></div>
    </div>

</div>

<div class="container">
    <div class="row pt-4 mb-5 mt-5">
	<div class="col"></div>
	<div class="col-8 text-center">
	    <img class="img-fluid justify-content-center" src="{{ .Params.Image }}" />
	</div>
	<div class="col"></div>
    </div>
</div>

<div class="container">

    <div class="row mt-4">
	<div class="col"></div>
	<div class="col-lg-8 pl-4 pr-4">
	    <article class="article">
		{{ .Content }}
	    </article>
	</div>
	<div class="col"></div>
    </div>
</div>

{{ end }}
