{{ define "main" }}

<div class="container">
    <nav class="nav justify-content-center pb-3">
	<a class="nav-link" href="{{ .Params.github }}">github</a>
	<a class="nav-link" href="{{ .Params.site }}">site</a>
	<a class="nav-link active" href="/portfolio">portfolio</a>
	<a class="nav-link" href="/resume">resume</a>
    </nav>

    <div class="row">
      <div class="col"></div>
      <div class="col-lg-8 pl-4 pr-4">
	<article class="article">
	  {{ .Content }}
	</article>
      </div>
      <div class="col"></div>
    </div>


</div>
{{ end }}
