{{ define "main" }}

<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col=5">
      <img class="justify-content-center" src="{{ .Params.Image }}" />
    </div>

    <div class="col"></div>
  </div>
</div>

<div class="container">
    <nav class="nav justify-content-center p-5">
	<a class="nav-link" href="{{ .Params.github }}">github</a>
	<a class="nav-link" href="{{ .Params.site }}">site</a>
	<a class="nav-link active" href="/portfolio">portfolio</a>
	<a class="nav-link" href="/resume">resume</a>
    </nav>

    <div class="row">
      <div class="col"></div>
      <div class="col-lg-8 pl-4 pr-4">
	<article class="article">
	  {{ .Content }}
	</article>
	<div class="call-to-action">
	  <h2>Call To Action</h2>
	</div>
      </div>
      <div class="col"></div>
    </div>
</div>

{{ end }}
