{{ define "main" }}
<div class="container">

    <div class="row">
	<div class="col"></div>
	<div class="col-8">
	    {{ .Content }}
	</div>
	<div class="col"></div>
    </div>
    <div class="row">

	{{ range .Pages }}
	<div class="col-4">
	    <div class="card">
		<h6 class="card-header bg-white">
		    {{ .Title }}
		</h6>

		<div class="card-body">
		    <div class="card-text text-muted small">
			{{ .Description }}
		    </div>
		</div>
	    </div>
	</div>
	{{ end }}
    </div>

</div>
{{ end }}
