{{ define "main" }}
<div class="container">

    <div class="row">
	<div class="col"></div>
	<div class="col-8">
	    {{ .Content }}
	</div>
	<div class="col"></div>
    </div>

    <div class="row">
	<div class="col-2"></div>
	<div class="col-8">
            <ul class="list-group-flush">
	        {{ range .Pages }}
                <li class="list-group-item list-group-item-action">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                    <div class="text-muted">
                        {{ .Description }}
                    </div>
                </li>
	        {{ end }}
            </ul>
	    <div class="col"></div>
        </div> 
    </div>

    <div class="row">
	<div class="col-2"></div>
	<div class="col-8">

            <h2>Coming up ...</h2>
            <ul>
                <li>Continuous Deliver = Automated Releases</li>
                <li>Software is a Team sport - Notes on Team building</li>
                <li>Beyond Delivery - Continous Improvement</li>
            </ul>
            <p>
                Incorporating operational experience, user issues and
                roadmaps into
            </p>
        </div>
	<div class="col"></div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col"></div>
        <div class="col-8">
            <script async data-uid="50dfcceaf3" src="https://skilled-producer-5787.ck.page/50dfcceaf3/index.js"></script>
        </div>
        <div class="col"></div>
    </div>
</div>

</div>
{{ end }}
