{{ define "main" }}
<div class="container">

    <div class="row">
	<div class="col"></div>
	<div class="col-8">
	    {{ .Content }}
	</div>
	<div class="col"></div>
    </div>

    <div class="row">
	<div class="col-2"></div>
	<div class="col-8">
            <ul class="list-group-flush">
	        {{ range .Pages }}
                <li class="list-group-item list-group-item-action">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                    <div class="text-muted">
                        {{ .Description }}
                    </div>
                </li>
	        {{ end }}
            </ul>
	    <div class="col"></div>
        </div> 
    </div>

</div>
{{ end }}
