{{ define "main" }}

<div class="container">
    <div class="row pt-4 mb-5 mt-5">
	<div class="col"></div>
	<div class="col-8 text-center">
	    <img class="img-fluid justify-content-center" src="{{ .Params.Image }}" />
	</div>
	<div class="col"></div>
    </div>
</div>


<div class="container">

    <div class="row mt-4">
	<div class="col"></div>
	<div class="col-lg-8 pl-4 pr-4">
	    <article class="article">
		{{ .Content }}
	    </article>
	</div>
	<div class="col"></div>
    </div>

</div>

<div class="container mt-4">
    <div class="row">
        <div class="col"></div>
        <div class="col-8">
            <script async data-uid="50dfcceaf3" src="https://skilled-producer-5787.ck.page/50dfcceaf3/index.js"></script>
        </div>
        <div class="col"></div>
    </div>
</div>
{{ end }}
