{{ define "main" }}
<div class="container mb-4">

  <div class="row mt-5">
    <div class="col"></div> <!-- col-2 -->
    <div class="col-lg-8">
      <article class="article">
	{{ .Content }}
      </article>
    </div>
    <div class="col"></div> <!-- col-2 -->
  </div>

  {{ range .Pages.ByDate.Reverse }}
  <div class="row mb-4">
    <div class="col"></div>
    <div class="col-lg-8">
      {{ partial "page-summary.html" (dict "page" . "dateMode" "show" "termsMode" "hide") }}
    </div> <!-- col -->
    <div class="col"></div>
  </div>
  {{ end }}
</div>
{{ end }}
