{{ define "main" }}
<div class="container">

    <div class="row mt-5">
	<div class="col"></div> <!-- col-2 -->
	<div class="col-lg-8">
	    <article class="article">
		{{ .Content }}
	    </article>
	</div>
	<div class="col"></div> <!-- col-2 -->
    </div>

    {{ $isNotes := eq .Section "notes" }}
    {{ $pages := cond $isNotes .Pages.ByDate.Reverse .Pages.ByWeight }}
    {{ range $pages }}
    <div class="row mb-4">
	<div class="col"></div> <!-- col-2 -->
	<div class="col-lg-8">
	    {{ partial "page-summary.html" (dict "page" . "dateMode" (cond $isNotes "show" "hide") "termsMode" (cond $isNotes "hide" "show")) }}
	</div> <!-- col -->
	<div class="col"></div>
    </div>
    {{ end }}
</div>
{{ end }}
