{{ define "main" }}
<div class="container">

    <div class="row mt-5">
	<div class="col"></div> <!-- col-2 -->
	<div class="col-8">
	    <article class="article">
		{{ .Content }}
	    </article>
	</div>
	<div class="col"></div> <!-- col-2 -->
    </div>

    {{ range .Pages }}
    <div class="row">
	<div class="col"></div> <!-- col-2 -->
	<div class="col-8">
	    <div class="title">
		<a href="{{ .Permalink }}">{{ .Title }}</a>
	    </div>
	</div> <!-- col -->
	<div class="col"></div>
    </div>

    <div class="row mb-3">
	<div class="col text-mute small text-right">
	    <div class="date">
		{{ .PublishDate.Format "January 2, 2006" }}
	    </div>
	</div> <!-- col-2 -->
	<div class="col-8">
	    <div class="description">
		{{ .Description }}
	    </div>
	</div> <!-- col -->
	<div class="col"></div>
    </div>
    {{ end }}
</div>
{{ end }}
