body {
    background: red;
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Vollkorn, serif;
}

h1.header-title {
    font-family: 'Nixie One', cursive;
    font-size: xx-large;
}

h3.header-subtitle {
    font-family: 'Open Sans', sans-serif;
}

.job-title {
    font-style: italic;
}

#my-head {
    max-height: 40px;
    max-width: 40px;
}

.name {
    font-wieght: bold;
}

.degree {
    font-size: 38px;
}

.duration {
    font-style: italic;
    font-size: .9rem;
}

.school {
    font-size: 32px;
}
