<section class="container">
    <div class="row mt-5">
	<div class="col">
	    <h3 class="text-center">Education</h3>
	</div>
    </div>

    <div class="row mt-5 text-center mb-5">
	<div class="col"></div>
	<div class="col-4">
	    <h5 class="text-center">BS Computer Science</h5>
	    <h4>California State University, Long Beach</h4>
	    <h6>Jan 1989</h6>
	</div>
	<div class="col-4">
	    <h5 class="text-center">MS Computer Science</h5>
	    <h4>University of Southern California</h4>
	    <h6>Jan 1996</h6>
	</div>
	<div class="col"></div>
    </div>

</section>
