<section id="edu" class="container mt-2">
    <div class="row">
	<div class="col">
	    <h2 class="h3 text-center">Education</h2>
	</div>
    </div>

    <div class="row text-center">
	<div class="col"></div>
	<div class="col-5">
	    <h3 class="h5 text-center">BS Computer Science</h3>
	    <p class="h6 mb-1">California State University, Long Beach</p>
	    <p class="small mb-0">Jan 1989</p>
	</div>
	<div class="col-5">
	    <h3 class="h5 text-center">MS Computer Science</h3>
	    <p class="h6 mb-1">University of Southern California</p>
	    <p class="small mb-0">Jan 1996</p>
	</div>
	<div class="col"></div>
    </div>

</section>
