<section id="career-summary" class="container">
    <div class="row">
	<div class="col">
	    <h2 class="text-center">Career Summary and Interests</h2>
	</div>
    </div>
    
    <div class="row">
	<div class="col-3 align-middle text-right">
	    <div class="h5 name">Rusty Eddy</div>
	    <div class="city">Huntington Beach, CA</div>
	    <div class="email">rusty@rustyeddy.com</div>
	    <div class="phone">(714) 362-5402</div>
	</div>

	<div class="col-7">
	    <div class="content">
		{{ .Content }}
	    </div>
	</div>

	<div class="col"></div>
    </div>
</section>

