{{ $jobs := .Site.GetPage "/resume/jobs" }}
{{ $currentJobs := where $jobs.Pages "Params.finish" "Present" }}
{{ $pastJobs := where $jobs.Pages "Params.finish" "ne" "Present" }}

<section id="jobs" class="container">
    <div class="row">
	<div class="col text-center">
	    <h3>Work History</h3>
	</div>
    </div>

    {{ range $currentJobs.ByWeight }}
    {{ partial "resume/job.html" . }}
    {{ end }}

    {{ with .GetPage "/resume/clients/_index.md" }}

    <div class="row job mt-4">
	<div class="col-3 text-right">
	    <h5 class="jobtitle">Eddy Consulting, LLC</h5>
	    <div class="duration">
		Jan 2006 to Present
	    </div>
	</div>
	<div class="col-7">
	    {{ .Content }}
	</div>
	<div class="col"></div>

    </div> <!-- Eddy Consulting -->

    <div class="row mt-4 mb-1">
	<div class="col text-center">
	    <h4 class="company mb-1 pb-1">Partial Client List</h4>
	</div>
    </div>

    {{ range .Pages }}
    <div class="row mt-3">
	<div class="col-3">
	    <div class="text-right client text-muted">
		{{ .Params.company }}
	    </div>
	</div>
	<div class="col-7">
	    {{ .Summary }}
	</div>
	<div class="col"></div>
    </div> <!-- center column -->
    {{ end }}
    {{ end }}

    {{ range $pastJobs.ByWeight }}
    {{ partial "resume/job.html" . }}
    {{ end }}
</section>
