<section id="jobs" class="container mt-5">
    <div class="row">
	<div class="col text-center">
	    <h3>Work History</h3>
	</div>
    </div>

    {{ with .GetPage "/resume/clients/_index.md" }}

    <div class="row job">
	<div class="col-3 text-right">
	    <h5 class="jobtitle">Eddy Consulting, LLC</h5>
	    <div class="duration">
		Jan 2006 to present
	    </div>
	</div>
	<div class="col-7">
	    {{ .Content }}
	</div>
	<div col="col"></div>

    </div> <!-- Eddy Consulting -->

    <div class="row mt-4 mb-1">
	<div class="col text-center">
	    <h4 class="company mb-1 pb-1">Partial Client List</h4>
	</div>
    </div>

    {{ range .Pages }}
    <div class="row mt-1">
	<div class="col-3">
	    <div class="text-right client text-muted">
		{{ .Params.company }}
	    </div>
	</div>
	<div class="col-7">
	    {{ .Summary }}
	</div>
	<div class="col"></div>
    </div> <!-- center column -->
    {{ end }}
    {{ end }}

    {{ $jobs := .Site.GetPage "/resume/jobs" }}
    {{ range $jobs.Pages }}

    <div class="row job mt-4">
	<div class="col-3 text-right">
	    <h6 class="jobtitle">{{ .Params.company }}</h6>
	    <div class="duration">
		{{ .Params.start }} to {{ .Params.finish }}
	    </div>
	</div>
	<div class="col-7">
	    <h6 class="company">{{ .Params.jobtitle }}</h6>
	    <div class="smaller-text">
		{{ .Summary }}
	    </div>
	</div>

	<div col="col"></div>

    </div> <!-- row -->

    {{ end }}
    </div>
</section>

