<section id="career-summary" class="container pt-4">
    {{ with .GetPage "/resume/summary.md" }}
    <div class="row">
	<div class="col">
	    <h3 class="text-center">{{ .Title }}</h3>
	</div>
    </div>
    <div class="row">
	<div class="col-3 align-bottom text-right">
	    <h6 class="name">Rusty Eddy</h6>
	    <div class="small-text">
		<div class="city">Huntington Beach, CA</div>
		<div class="email">rusty@rustyeddy.com</div>
		<div class="phone">(714) 362-5402</div>
	    </div>
	</div>
	<div class="col-7">
	    <div class="smaller-text">
		{{ .Content }}
	    </div>
	</div>
	<div class="col"></div>
    </div>
    {{ end }}
</section>

