<section id="career-summary" class="container">
    {{ with .GetPage "/resume/summary.md" }}

    <div class="row">
	<div class="col">
	    <h2 class="h3 text-center">{{ .Title }}</h2>
	</div>
    </div>

    <div class="row">
	<div class="col-3 align-bottom text-right">
	    <p class="name">Rusty Eddy</p>
	    <div class="smaller-text">
		<div class="city">Huntington Beach, CA</div>
		<div class="email">rusty@rustyeddy.com</div>
	    </div>
	</div>

	<div class="col-7">
	    {{ .Content }}
	</div>
	<div class="col"></div>
    </div>
    {{ end }}
</section>
