<div class="jumbotron border-top border-bottom bg-white" >
    <div class="row">
	<div class="col-md"></div>
	<div class="col-md-8">
	  <h1 class="header h2 text-center pb-1">{{ .Title }}</h1>
	    <p class="leadin align-right text-muted text-center mt-0">
		{{ .Description }}
	    </p>
	</div>
	<div class="col-md"></div>
    </div>
    <div class="row">
	<div class="col"></div>
	<div class="col-8">
	    <nav class="nav justify-content-center">
		<a class="nav-link" href="{{ .Params.resources.github }}">github</a>
		<a class="nav-link" href="{{ .Params.resources.site }}">site</a>
		<a class="nav-link active" href="/projects">projects</a>
	    </nav>
	</div>
	<div class="col"></div>
    </div>
</div>
