{{ block "cta" . }}
<div class="row mt-4 mb-4 border-top">
    <div class="col"></div>
    <div class="col-10">
        <h2 class="text-center">How To Manage Predictable Software</h2>
    </div>
    <div class="col"></div>
</div>

<section id="cta" class="row cta-text mb-5">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
	<h5 class="text-center">What to Expect</h5>
	<p>		
	    We will cover the entire Software Development Life Cycle (SDLC)
	    process before any code is written, through the delivery and
	    maintenance of a production piece of software. 
	</p>
	<p>
	    As this series moves along, I will be demonstrating the techniques
	    using 100% free tools and OpenSource software, such that you can
	    easily follow along.
	</p>
    </div>

    <div class="col-lg-4 text-center">
	<h5>Software Project Must Haves</h5>
	<div>
	    <ul class="list-group list-group-flush bg-primary">
		<li class="list-group-item">A Clear Goal and Measurable Milestones</li>
		<li class="list-group-item">Version Control all the Things</li>
		<li class="list-group-item">Test First and Always</li>
		<li class="list-group-item">Automaticly Update</li>
		<li class="list-group-item">Customer Service</li>
		<li class="list-group-item">Automation and Elasticity</li>
	    </ul>
	</div>
    </div>
    <div class="col-lg-2"></div>
    <div class="col"></div>
</section>

<section class="container mb-5">
    <div class="row text-center">
	<div class="col"></div>
	<div class="col-8">
	    <script async data-uid="50dfcceaf3" src="https://skilled-producer-5787.ck.page/50dfcceaf3/index.js"></script>
	</div>
	<div class="col"></div>
    </div>
</section>



{{ end }}
