{{ block "cta" . }}
<section id="cta" class="row cta-text  pt-5 pb-5 mt-5 mb-5">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
	<h5 class="text-center">What to Expect</h5>
	<p>		
	    We will cover the entire Software Development Life Cycle (SDLC)
	    process before any code is written, through the delivery and
	    maintenance of a production piece of software. 
	</p>
	<p>
	    As this series moves along, I will be demonstrating the techniques
	    using 100% free tools and OpenSource software, such that you can
	    easily follow along.
	</p>
    </div>
    
    <div class="col-lg-5 text-center">
	<h5>Table of Contents</h5>
	<div>
	    <ul class="list-group list-group-flush bg-primary">
		<li class="list-group-item">Clear Goal and Milestones</li>
		<li class="list-group-item">Version Control all the Things</li>
		<li class="list-group-item">Test First and Always</li>
		<li class="list-group-item">Automatic Updates</li>
		<li class="list-group-item">Issue Tracking</li>
		<li class="list-group-item">Analytics and Elastic</li>
	    </ul>
	</div>
    </div>
    <div class="col"></div>
</section>

<section class="container">
    <div class="row text-center">
	<div class="col"></div>
	<div class="col-8">
	    <script async data-uid="50dfcceaf3" src="https://skilled-producer-5787.ck.page/50dfcceaf3/index.js"></script>
	</div>
	<div class="col"></div>
    </div>
</section>



{{ end }}
