<footer id="footer" class="container-fluid footer small-text pt-4 border-top">
  <section class="row">
    <div class="col"></div>
    <div class="col text-right">
      <div class="address">419 Main St. #439</div>
      <div class="city">Huntington Beach, CA. 92648</div>
    </div>
    <div class="col-3 text-center">
      <div>
        Last update ~
        {{ with .Params }}
	{{ with .lastmod }}
        {{ dateFormat "Monday, Jan 2, 2006" . }}
	{{ end }}
        {{ else }}
	{{ .Date }}
        {{ end }}
      </div>
      <div>site by <a href="/">Eddy Consulting, LLC.</a> ~ &#xA9; 2008 to 2020 </div>
    </div>
    <div class="col">
      <div class="text-left">
	<div class="phone">(714) 362-5402</div>
	<a href="https://github.com/rustyeddy">github</a> .
	<a href="https://twitter.com/rustyeddy">twitter</a> .
	<a href="https://linkedin.com/rustyeddy">linkedin</a><br/>	    
      </div>
    </div>
    <div class="col"></div>
  </section>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-19940083-13"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'UA-19940083-13');
</script>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>



