<header class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
	<a class="navbar-brand text-muted text-monospace" href="/">rusty eddy</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <nav class="navbar-nav justify-content-end">
  		<a class="nav-link" href="/">home</a>
  	        <a class="nav-link" href="http://resume.rustyeddy.com">resume</a>
  	        <a class="nav-link" href="/portfolio">portfolio</a>
 	    </nav>
	</div>
    </nav>
</header>
