<header class="container bg-white">
    <nav class="navbar navbar-expand-lg navbar-light">

	<a class="navbar-brand text-muted text-monospace" href="/"><span claa="h1">rusty eddy:</span></a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">

	    <nav class="navbar-nav w-100 justify-content-end">
		<div class="nav w-100">
  	            <a class="nav-link" href="/resume">resume</a>
  		    <a class="nav-link" href="/about">about</a>
		    <!-- 
  			 <a class="nav-link" href="/notes">notes</a>
  			 <a class="nav-link" href="/projects">projects</a>
  			 <a class="nav-link" href="/services">services</a>
		    -->
		</div>
 	    </nav>

	</div>

    </nav>
</header>
