<div class="jumbotron head-pic border-top border-bottom bg-white">
    <div class="container">
	
	<div class="row">
	    <div class="col-1"></div>

	    <div class="col-4">
		<h1 class="header-title">rusty eddy</h1>
		<h3 class="header-subtitle">software engineer</h3>
	    </div>

	    <div class="col">
		<h5 class="header pb-1">
		    {{ .Description }}
		</h5>
		<div class="leadin align-right text-muted">
		    {{ .Summary }}
		</div>
	    </div>

	    <div class="col-1"></div>
	</div>
    </div>
</div>
