<div class="container">
    <div class="row">
	<div class="col">
	    <h2 class="text-center mt-5 mb-5">Recent Projects</h2>
	</div>
    </div>
    <div class="row">
	<div class="col">
	    {{ with .Site.GetPage "/projects/moni" }}
	    <div class="card border-0">
		<div class="card-body">
		    <img class="card-img" src="{{ .Params.Image }}" />
		    <h4 class="card-title">{{ .Title }}</h4>
		    <div class="card-text">
			{{ .Description }}
		    </div>
		</div>
	    </div>
	    {{ end }}
	</div>

	<div class="col">
	    {{ with .Site.GetPage "/projects/redeye" }}
	    <div class="card border-0">
		<div class="card-body">
		    <img class="card-img" src="{{ .Params.Image }}" />
		    <h4 class="card-title">{{ .Title }}</h4>
		    <div class="card-text">
			{{ .Description }}
		    </div>
		</div>
	    </div>
	    {{ end }}
	</div>

	<div class="col">
	    {{ with .Site.GetPage "/projects/sensor-station" }}
	    <div class="card border-0">
		<div class="card-body">
		    <img class="card-img" src="{{ .Params.Image }}" />
		    <h4 class="card-title">{{ .Title }}</h4>
		    <div class="card-text">
			{{ .Description }}
		    </div>
		</div>
	    </div>
	    {{ end }}
	</div>
    </div>
</div>

