<div class="container-fluid bg-">
    <div class="row">
	<div class="col"></div>
	<div class="col-8">
	    
	    <div class="card border-0">
		<div class="card-title">
		    <h4 class="card-title text-center">Web Walker</h4>
		</div>
		<div class="card-body">
		    <div class="card-text">
			<p>
			    Join me on my little pet project _crawl_, a simple web
			    walker built to monitor the websites that I own and those
			    I am responsible for managing. 
			</p>
			<p>
			    The web walker backend is written with Go and includes
			    a self contained web server built on the library
			    colly.
			</p>
			<p>
			    <a href="/projects/crawl">Read more about Crawl</a>
			</p>

		    </div>
		    
		</div>
	    </div>

	</div>
	<div class="col"></div>
    </div>

