<p>
    I am a _Software Engineer_, I love developing software and I do it
    for a living, which is one of the reasons I have this website, to
    let the software hiring world know that I exist!  And be albe
    easily locate my resume and portfolio.
</p>

<p>
    The other, and more exciting reason I have this website is to
    acculmulate the appropriate lean set of processes that benefit a
    small team developing a website / app.
</p>

<p>
    Do you have experience building software applications?  Do you
    have or would like to hire an external software development
    company? 
</p>
