{{ define "main" }}

<div class="container">

    <section id="contact" class="container text-center">
	<div class="row m-4 p-4 border-top border-bottom">

	    <div class="col text-center">
		<img id="myhead" class="img-fluid rounded-circle" src="/img/rusty-background.jpg">
	    </div>

	    <div class="col align-middle pt-4">
		Rusty Eddy<br/>
		419 Main St. #439<br/>
		Huntington Beach, CA
	    </div>

	    <div class="col align-middle pt-4">
		(714) 362-5402<br/>
		<a href="mailto:rusty@rustyeddy.com">rusty@rustyeddy.com</a><br/>
		<a href="https://linkedin.com/rustyeddy">linkedin</a><br/>
	    </div>
	</div>
    </section>

    <section id="career-summary" class="container">
	<div class="row mt-4">
	    <div class="col"></div>
	    <div class="col-10">
		<h2 class="text-center">Career Summary and Interests</h2>
		<div class="content">
		    {{ .Content }}
		</div>
	    </div>
	    <div class="col"></div>
	</div>

    </section>

    
    <section id="jobs" class="container mt-5 mb-5">
	<h3 class="text-center">Work History</h3>

	{{ $jobs := .Site.GetPage "/resume/jobs" }}
	{{ range $jobs.Pages }}
	<div class="row">
	    <div class="col-3 text-right">
		<h5>{{ .Params.company }}</h5>
		{{ .Params.start }} to {{ .Params.finish }}
	    </div>
	    <div class="col-8">
		<h5>{{ .Params.jobtitle }}</h5>
		{{ .Summary }}
	    </div>
	    <div col="col"></div>
	</div> <!-- row -->
	{{ end }}
    </section>

    {{ with .GetPage "/resume/edu/_index.md" }}
    <section class="container mb-5">
	<div class="row">
	    <div class="col"></div>
	    <div class="col-8 text-center">
		<h3>{{ .Title }}</h3>
		{{ range .Pages }}
		<div class="school pt-3">
		    <h6>{{ .Params.graduate }}</h6>
		    <h5>{{ .Params.degree }}</h5>
		    <h4>{{ .Params.school }}</h4>
		</div>
		{{ end }}
	    </div> <!-- center column -->
	    <div class="col"></col>
	    </div>
    </section>
    {{ end }}

    {{ with .GetPage "/resume/pubs.md" }}
    <section id="pubs" class="container mb-5">
	<div class="row">
	    <div class="col-2"></div>
	    <div class="col">
		<h3 class="text-center">{{ .Title }}</h3>
		{{ .Content }}
	    </div>
	    <div class="col-2"></div>
	</div>
    </section>
    {{ end }}

</div>
{{ end }}

