{{ define "main" }}

<div class="jumbotron head-pic border-top border-bottom">
    <div class="row">
	<div class="col"></div>
	<div class="col-md-4">
	  <h1 class="header h3 text-light pb-1">{{ .Title }}</h1>
	  {{ with .GetPage "/resume/contact.md" }}
	  <ul class="list text-white">
	    <li class='list-item'>rusty eddy</li>
	    <li class='list-item'>software engineer</li>
	    <li class='list-item'>huntington beach, CA</li>
	    <li class='list-item'>{{ .Params.phone }}</li>
	    <li class='list-item'>{{ .Params.email }}</li>
	  </ul>
	  {{ end }}
	</div>
	<div class="col-md-4"></div>
	<div class="col"></div>
    </div>
</div>


<div class="container">

  {{ with .Site.GetPage "/resume/about.md" }}

    <nav class="nav justify-content-center border-bottom mb-5 pb-4">
	<a class="nav-link active" href="{{ .Params.linkedin }}">linkedin</a>
	<a class="nav-link" href="{{ .Params.github }}">github</a>
	<a class="nav-link" ref="{{ .Params.twitter }}">twitter</a>

	<a class="nav-link" href="http://rustyeddy.com">website</a>
	<a class="nav-link" href="http://resume.rustyeddy.com">resume</a>
	<a class="nav-link" href="http://mobilerobot.io">mobile robot project</a>

    </nav>

    {{ end }}


    <section id="skills" class="container text-center">
	<div class="row">
	    <div class="col"></div>
	    <div class="col-md-10">
		<h3>Skills</h3>
		<p>
		    I am a Software Engineer, Network Architect and
		    Principal Engineer.  I am absolutely a "hands on"
		    technologist.  I have a good skill set for leading
		    teams, training and public speaking, however I enjoy
		    time in the lab working with other engineers solving
		    problems.  My background is largely with programming
		    Computer Networks, Distributed Systems and Realtime
		    Embedded software.
		</p>

		<h3>Interests</h3>
		<p>
		    I am interested in a Lead Engineering role on
		    challenging "physical world problems", such as
		    Robotics, Industrial Automation and Manufacturing.  I
		    am primarily interested in Realtime Control Systems
		    for Robotic Automation, Computer Vision and Machine
		    Learning.
		</p>
	    </div>
	    <div class="col"></div>
	</div>
    </section>

    <section id="jobs" class="container mb-3">
	<h3 class="text-center">Work History</h3>

	{{ $jobs := .Site.GetPage "/resume/jobs" }}
	{{ range $jobs.Pages }}
	<div class="row">
	    <div class="col-3 text-right">
		<h5>{{ .Params.company }}</h5>
		{{ .Params.start }} to {{ .Params.finish }}
	    </div>
	    <div class="col-8">
		<h5>{{ .Params.jobtitle }}</h5>
		{{ .Summary }}
	    </div>
	    <div col="col"></div>
	</div> <!-- row -->
	{{ end }}
    </section>

    {{ with .GetPage "/resume/edu/_index.md" }}
    <section class="container mb-5">
	<div class="row">
	    <div class="col"></div>
	    <div class="col-8 text-center">
		<h3>{{ .Title }}</h3>
		{{ range .Pages }}
		<div class="school pt-3">
		    <h6>{{ .Params.graduate }}</h6>
		    <h5>{{ .Params.degree }}</h5>
		    <h4>{{ .Params.school }}</h4>
		</div>
		{{ end }}
	    </div> <!-- center column -->
	    <div class="col"></col>
	    </div>
    </section>
    {{ end }}

    {{ with .GetPage "/resume/pubs.md" }}
    <section id="pubs" class="container mb-5">
	<div class="row">
	    <div class="col-2"></div>
	    <div class="col">
		<h3 class="text-center">{{ .Title }}</h3>
		{{ .Content }}
	    </div>
	    <div class="col-2"></div>
	</div>
    </section>
    {{ end }}

</div>
{{ end }}

