<!DOCTYPE html>
<html>
    <head>
	{{- partial "head-cheese.html" . -}}
    </head>
    <body>
	{{- partial "header.html" . -}}

	{{- partial "blog-header.html" . -}}

        <div class="container">
            <div class="row">
                <div class="col-6">
                    <a href="/sensors">
                        <img src="img/SensorStation.png" />
                    </a>
                    <h3 class="text-center">Sensor Station</h3>
                </div>
                <div class="col-6">
                    <a href="/resume">
                        <img src="img/resume-500x500.png" />
                    </a>
                    <h3 class="text-center">Resume</h3>
                </div>
            </div>
        </div>

	{{- partial "footer.html" . -}}

    </body>
</html>
