<!DOCTYPE html>
<html>
    <head>
	{{- partial "head-cheese.html" . -}}
    </head>
    <body>
	{{- partial "header.html" . -}}


	<div id="title" class="container-fluid text-center mt-5">
	    <div class="row">
		<div class="col"></div>
		<div class="col-8">
		    <h1>Want to see how a modern web app is built?</h1>

		    <h2>The application is a network of Raspberry Pi
			Cameras that connects to a Deep Learning
			Network</h2> 

		    <p>If you are interested in how modern <i>web
			applications</i> are built with today's technologies, we
			can learn through this process together.</p>

		    <p>OR if you are trying to figure out how to tie
		    modern A/I and Deep Learning tools to your
		    business and applications, you have come to the
			right place.
		    </p>

		    <p>RedEye has the very powerful and extreemly
			popular <b>Open Computer Vision (Opencv)
			and the NVIDIA <b>XXXX</b> libraries,
			including but not limited to.</b>
		    </p>
		    <ul>
			<li>Open Computer Vision (OpenCV)</li>
			<li>NVidia Nsight Computer Vision library</li>
			<li>Tensorflow</li>
			<li>PyTorch</li>
			<lib>And SOOooo much more ...</lib>
		    </ul>
		    
		    <h4>Business Owners and Project Managers</h4>

		    <p>Are you responsible for ensuring a successful
			software project and are interested in
			establishing a set of processes and supporting
			tools that give YOU transparency into the the
			software development processes?</p>
		    
		    <p>Most important, you are able to accurately
			track the process of your software
			project.</p>

		    <h4>Software Engineers and Technical Leads</h4>

		    <p>You are a skilled craftsman looking to level up
			your game and assume the role of an
			<i>architecting</i> a complete software solution
			through the <b>entire</b> Software Development
			Lifecycle. </p>

		    <h4>An Experienced Pro That wants to Help</h4>
		    <p>I am a seasoned professional software engineer,
			and if this is one thing that I know, for sure,
			beyond a shadow of dought, that it is
			<b>impossible</b> for any single person to master
			every element and technology of a complete,
			successful software project. Certainly NOT me.</p>

		    </p>With that, I would like to invite you to bring
		    your skills and a willingness to contribe to the
		    direction and/or the implementation of this
		    project. 

		    <h2>You can participate also</h2>

		    <p>
			This is a very interesting and "complete" project
			that is built on Open Source software and
			hardware. Further more the platforms we use are
			inexpensive.
		    </p>

		    <quote>
			Start building a RedEye network with a
                        single camera (Raspberry PI + CSI camera)
                        for less the $50.</quote>

		    <h3>Welcome to the RedEye Project</h3>

		    <h2>A/I and Deep Learning</h2>
		    <p>
			We have selected NVidia as our partner to
		    supply our A/I compute modules with the
		    unprecedented <i>Jetson</i> family of embedded
		    processors. 
		    </p>

		    <h2>Technology Agnostic</h2>
		    <p>
			Bring Your Own Device, we are technology
			agnostic. We don't care what chip, OS or
			application you are running.  Bring it.
		    </p>
		    <h3>Open Standards</h3>
		    <p>
			We did build RedEye on open standard
		    protocols, hence anything that wants to connect to
		    the RedEye network can as long as it speaks: one
			or more of</p>

		    <ul>
			<li>HTTP / REST</li>
			<li>MQTT</li>
			<li>Websocket</li>
		    </ul>

		    <h3>Platforms Known to Work</h3>

		    <ul>
			<li>Raspberry Pi 3/4 and Zero + CSI Camera</li>
			<li>Jetson Nano + Jetson</li>
			<li>Ubuntu + USB Camera</li>
			<li>Mac Book Pro builtin</li>
			<li>Windows USB</li>
		    </ul>
		</div>
		<h2>Roll Your Own A/I</h2>

		<p>
		    This is a great environment for developing your
		    own algorithms within the robust, feature packed
		    network of tools and processes. 
		</p>
		
		<div class="col"></div>
	</div>


	{{- partial "footer.html" . -}}

    </body>
</html>
