body {
    background: white;

    font-family: serif;
}

h1, h2, h4, h3, h5, h6 {
    font-family: sans-serif;
    margin-top: 1rem;
}

.jumbotron {
    color: white;

    background-image: url('https://source.unsplash.com/JgOeRuGD_Y4/1600x900');
    /*background-image: url('https://source.unsplash.com/bviex5lwf3s/1600x900');*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*height: 100vh;*/
    height: 340px;
}

.jumbotron.home {
    background-image: url('https://rustyeddy.sfo2.digitaloceanspaces.com/rusty-hero-wide.jpg');
}
